html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav 
, section{
    display:block;
}

body{
    background-color: white;
    overflow-x: hidden;

}

.container{
    margin: 0;
    padding:0;


}

#head_wrap{
    width: 100%;
    height:50px;
    margin: 0 auto;
    border-bottom:2px solid #f7f7f7;
    padding: 15px;
    background: #3b5998;
}


#header{
    margin: 0 auto;
    width: 1080px;
    height: 25px;

}

#menu{
    line-height: 40px;
    padding: 0;
    margin:0;
    float:left;

}
#menu li{
    display: inline;
    list-style: none;
    padding: 5px;
}

#menu a{
    margin:2px;
    padding:4px;
    text-decoration: none;
    color:white;
    font-size:20px;
    font-weight:bold;
}

#menu a:hover{
    color:	#dfe3ee;
    font-weight :bolder;
    text-decoration: underline;
}

#search_bar{
    float:right;
    line-height: 3px;
    padding-top:9px;
}

#forum1 input[type=submit]
{
    width: 30%;
    height:30 px;
    color:#f7f7f7;
}

#search_bar input[type=text]
{
    width: 70%;
    height:25 px;
    color:#f7f7f7;
}

.body_content{
    widows: 100px;
    background: #dfe3ee;
    margin: 0 auto;
}

#user_timeline{
    background: #f7f7f7;
    width: 290px;
    float :left;
    height: 700px;
    border-right:1px solid #f7f7f7;
}

#user_detail{
    padding:10px;
}

#user_details img{
    border: 2px solid white;
    border-radius: 20px;
}

#user_details p{
    margin-bottom: 10px;
    padding: 5px
}

#user_mention{
    border:2px solid white;
    border-radius: 20px;
    width: 200px;
    margin: 0 auto;
    padding: 5px;
}
.page_content{
    widows: 100px;
    margin: 0 auto;
}

#page_timeline{
    background: gray;
    width: 290px;
    float :left;
    height: 700px;
    border-right:1px solid #f7f7f7;
}

#page_detail{
    padding:10px;
}

#page_details img{
    border: 2px solid white;
    border-radius: 20px;
}

#page_details p{
    margin-bottom: 10px;
    padding: 5px
}
#page_mention{
    border:2px solid black;
    border-radius: 20px;
    width: 200px;
    margin: 0 auto;
    padding: 5px;
    float:left;
}

#reply textarea{
    padding: 8pxl;
    border:1px solid blue;
    border-radius: 5px;
    background: grey;
}

#user_timeline{
    background: #dfe3ee;
    width: 250 px;
    float: left;
    height: 700 px;
    border-right: 2px solid blue;

}

#user_detail
{
    padding: 10px;
}

#user_detail img
{
    border: 2px solid white;
    border-radius: 20px;
}

#user_detail p{
    margin-bottom: 10px;
    padding: 5px;
}

#user_details a{
    color:white;
    font-size:20px;
    text-decoration: none;
}

#user_details a:hover{
    color:#555;
    font-size:20px;
    text-decoration: underline;
    font-weight: bolder
}


#user_mention
{
    background: #8b9dc3;
    border: 2px solid white;
    border-radius: 20px;
    width: 200px;
    margin: 0 auto;
    padding: 5px;

}
#content_timeline
{
    float:left;
    width:1000px;
    padding:10px;
    
}

#f input{
    padding:9px;
    border:1px solid black;
    border-radius: 5px;
    font-weight: bolder;
}

#f textarea{
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-weight: bolder;
}

#f select
{
    padding:9px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bolder;
}

#f select{
    background: #dfe3ee;
}
#f select:hover{
    background: yellow;
}

#f input:hover{
    background: #3b5998;
}

#f textarea:hover{
    background: #dfe3ee;
}

#f h2{
    color:black;
}

#pagination
{
    color:black;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
}

#pagination a:hover{
    color:blue;
    font-weight: bold;
}

#posts
{
    background:  #dfe3ee;
}

#comments
{
    background:  #dfe3ee;
}

#commentid textarea
{
    background: 	 #dfe3ee;
}

#commentid textarea:hover
{
    background: white;
}

#edit
{
    background: white;

}